body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-and-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12%;
  min-width: 12%;
}

.dark-mode {
  background-color: #24283B;
}

.dark-mode h1 {
  color: white;
}

.container {
  flex-direction: column;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.noteslist {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background-color: #67d7cc;
}

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fef68a;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon:hover {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233,233,233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
  flex:0 1 0;
}

.search input {
  display: flex;
  border: none;
  background-color: rgb(233,233,233);
  flex: 1;
}

.search input:focus {
  outline: none;
}

.save.count {
 margin-left: 7px;
 margin-top: 7px;
}

#toggle {
  margin-top: 10px;
}

